@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #f3f4f6;
}

/* Custom Scrollbar for Dark Terminal */
.scrollbar-dark::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}